body{
    
}
.imgIn label{
    font-size: 30px;
    margin-bottom: 20px;
}
.imgIn{
    margin-bottom: 50px;
    border-style: dashed;
    padding-bottom: 20px;
    padding-top: 20px;
}
.infoIn{
    
}
#medType{
    width: 200px;
    height: 50px;
    font-size: 20px;
    
}
.medType img{
    width: 50px;
    height: 50px;
}
.boxRmd{
    width: auto;
    height: auto;
}
.inputsStyle{
    font-size: 20px;
    color: #003761;
    text-align: center;
}
.buttonEnviar{
    width: 100px;
    height: 50px;
    border: solid 5px #018af3;
    font-size: 20px;
    color: #018af3;
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
}

.nomeRemedio{
    
}